/* Цвета */
$red: #F94233;
$yellow: #FAA700;
$gray: #BCCDD1;
$light-gray: #E1ECED;
$blue: #2E09E5;
$black: #000;
$black-2: #090909;
$white: #FFF;
$almost-white: #F2F7F7;

/* Градиенты */
$fire: linear-gradient(99deg, #FA0 -8.11%, #F94233 86.42%);

/* Жирность шрифтов */
$font-weight-variable-412: 412;
$font-weight-variable-500: 500;
$font-weight-variable-550: 550;
$font-weight-variable-600: 600;
$font-weight-variable-700: 700;

/* Скругления */
$radius-16: 16px;
$radius-12: 12px;

/* Отступы */
$gap-16: 16px;
$gap-12: 12px;
$gap-8: 8px;
$gap-4: 4px;

/* Медиа-запросы */
$breakpoint-md: 767.98px;
