@use "/src/styles/common/variables";
@use "/src/styles/common/mixins";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 16px;
  border-radius: variables.$radius-12 variables.$radius-12 0 0;
  background-color: variables.$almost-white;
  color: variables.$gray;
  font-size: 22px;
  @include mixins.f-font-weight(variables.$font-weight-variable-550);
  line-height: 1;

  &__links {
    display: flex;
    align-items: center;
    gap: 28px;

    li {
      max-height: 32px;
    }
  }

  &__networks {
    display: flex;
    align-items: center;
    gap: variables.$gap-16;
  }
}
